<div class="row">
    <div class="col-md-6">
        <app-ng-card>
            <div class="card-header">Mobile</div>
            <a href="#" class="btn btn-primary">Buy Mobile</a>
            

        </app-ng-card>
    </div>
    <div class="col-md-6">
        <app-ng-card>
            <div class="card-header">Tv</div>
            <a href="#" class="btn btn-primary">Buy Tv</a>
        </app-ng-card>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <app-ng-card>
            <div class="card-header">Car</div>
            <a href="#" class="btn btn-primary">Buy Car</a>
        </app-ng-card>
    </div>
    <div class="col-md-6">
        <app-ng-card>
            <div class="card-header">Bike</div>
            <a href="#" class="btn btn-primary"> Buy Bike</a>
        </app-ng-card>
    </div>
</div>