<!-- This is example of ngIf -->
<div class="card" style="width: 18rem;">
    <div *ngIf='isValid;'  class="card-body" >
      <h5 class="card-title">If Card</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <a class="btn btn-primary w-50 m-auto" (click)="viewCard()">Go somewhere</a>

  </div>
<!-- end -->
<!-- This is  example of ngIf anf ngElse -->
<!-- <div class="card" style="width: 18rem;">
    <div *ngIf='isValid; else card2'  class="card-body" >
      <h5 class="card-title">If Card</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ng-template #card2>
        <div class="card-body" >
            <h5 class="card-title">Else Card</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>

    </ng-template>
    
    <a class="btn btn-primary w-50 m-auto" (click)="viewCard()">Go somewhere</a>

  </div> -->

  <!-- End -->

  <!-- ngthen block -->

  <!-- end -->

